<div class="scanner-container">
    <div>
        <div>
            <p>Move the scanner using arrow keys</p>
            <p>Top left: x0, y0</p>
            <p>Scanner state: {{scannerState}} &nbsp;&nbsp; <button (click)="clearState()">Reset</button></p>
        </div>
        <app-image-canvas [shiftHistory]="shiftHistory" [scanHistory]="scanHistory" (coords)="updateCoords($event)" [state]="scannerState"></app-image-canvas>
    </div>
    <div class="history-container">
        <div class="m5">
            <b>Shift history</b>
            <p *ngFor="let item of shiftHistory">x{{item.x}} y{{item.y}} time: {{item.timeout}}s</p>
        </div>
        <div class="m5">
            <b>Scan history</b>
            <p *ngFor="let item of scanHistory">x{{item.x}} y{{item.y}}</p>
        </div>
    </div>
</div>